In [106]:
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [107]:
import pandas as pd
import numpy as np

In [108]:
df = pd.read_excel("buckets.xlsx")

In [109]:
df

   Transaction ID                                        Bucket
0               1               Milk, Bread, Eggs, Soap, Butter
1               2                    Soap, Milk, Shampoo, Wheat
2               3  Wheat, Bread, Butter, Facewash, Mousturaiser
3               4               Milk, Soap, Mousturaiser, Bread
4               5                 Wheat, Butter, Soap, Facewash
5               6               Eggs, Milk, Mousturaiser, Bread
6               7           Rice, Wheat, Mousturaiser, Facewash
7               8             Rice, Soap, Butter, Milk, Shampoo

In [110]:
dataset = df["Bucket"].str.split(",").tolist()

In [111]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

    Bread   Butter   Eggs   Facewash   Milk   Mousturaiser   Shampoo   Soap   Wheat   Eggs   Milk   Rice   Soap  Wheat
0    True     True   True      False  False          False     False   True   False  False   True  False  False  False
1   False    False  False      False   True          False      True  False    True  False  False  False   True  False
2    True     True  False       True  False           True     False  False   False  False  False  False  False   True
3    True    False  False      False  False           True     False   True   False  False   True  False  False  False
4   False     True  False       True  False          False     False   True   False  False  False  False  False   True
5    True    False  False      False   True           True     False  False   False   True  False  False  False  False
6   False    False  False       True  False           True     False  False    True  False  False   True  False  False
7   False     True  False      False   True          False      True   True   False  False  False   True  False  False

In [113]:
a = apriori(df, min_support=0.2, use_colnames=True)

In [115]:
association_rules(a )

             antecedents           consequents  antecedent support  ...  leverage  conviction  zhangs_metric
0                 (Milk)              ( Bread)                0.25  ...   0.12500         inf       0.666667
1                (Wheat)             ( Butter)                0.25  ...   0.12500         inf       0.666667
2                (Wheat)           ( Facewash)                0.25  ...   0.15625         inf       0.833333
3             ( Shampoo)               ( Milk)                0.25  ...   0.15625         inf       0.833333
4                 (Milk)               ( Soap)                0.25  ...   0.12500         inf       0.666667
5        ( Soap,  Bread)                (Milk)                0.25  ...   0.18750         inf       1.000000
6          ( Soap, Milk)              ( Bread)                0.25  ...   0.12500         inf       0.666667
7         ( Bread, Milk)               ( Soap)                0.25  ...   0.12500         inf       0.666667
8                 (Milk)       ( Soap,  Bread)                0.25  ...   0.18750         inf       1.000000
9   ( Butter,  Facewash)               (Wheat)                0.25  ...   0.18750         inf       1.000000
10      ( Butter, Wheat)           ( Facewash)                0.25  ...   0.15625         inf       0.833333
11    ( Facewash, Wheat)             ( Butter)                0.25  ...   0.12500         inf       0.666667
12               (Wheat)  ( Butter,  Facewash)                0.25  ...   0.18750         inf       1.000000

[13 rows x 10 columns]